<div class="defects-dialog-container">
  
  <div class="header">
    <h3 style="margin: 0; font-weight: 500;">Defects Overview - {{ getMonthName(selectedMonth) }} {{ selectedYear }}</h3>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="grid-container">
    <div class="grid-cell" 
         *ngFor="let cell of gridCells" 
         (click)="isReadOnly ? null : toggleColor(cell)"
         [style.backgroundColor]="cell.bgColor"
         [style.color]="cell.textColor"
         [style.cursor]="isReadOnly ? 'default' : 'pointer'">
      {{ cell.label }}
    </div>
  </div>

</div>