.horizontal-tabs {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 23px;
}

.tab-btn {
  background-color: #ffffff !important;
  color: #333333 !important;
  border: 1px solid #d3d3d3 !important;
  box-shadow: none !important;
  font-weight: 500;
  transition: all 0.2s ease;
  
  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 4px;
  }
}

.active-tab {
  background-color: #556773 !important;
  color: #ffffff !important;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15) !important;
  border-color: #556773 !important;
}