<div class="NewHeader">
   <h3 >
      {{ isEditMode ? 'Update Process Category' : 'Add Process Category' }}
   </h3>
</div>

<div mat-dialog-content style="padding: 20px;">
    <!-- Wrap inputs in the form group -->
    <form [formGroup]="categoryForm">
        <div class="row mb-3 align-items-center">
            <div class="col-sm-4 fw-bold text-end">Category Name: <span class="text-danger">*</span></div>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="categoryName" placeholder="Enter Category Name">
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-sm-4 fw-bold text-end">Category Code: <span class="text-danger">*</span></div>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="categoryCode" placeholder="Enter Code (e.g. QMS)">
            </div>
        </div>
    </form>
</div>

<mat-dialog-actions align="end" style="padding: 15px;">
    <button mat-raised-button style="background-color: lightgray; color: red;" (click)="close()">
        <mat-icon>cancel</mat-icon> Close
    </button>
    <button mat-raised-button color="primary" class="ms-2" [disabled]="!categoryForm.valid" (click)="save()">
        <mat-icon>save</mat-icon> {{ isEditMode ? 'Update' : 'Save' }}
    </button>
</mat-dialog-actions>