<div class="NewHeader">
    <h3 style="padding-top:15px; padding-left: 20px; font-weight: 400;font-size: 18px;">
        {{ isEditMode ? 'Update' : 'Add' }} Supplier
    </h3>
</div>

<div style="padding: 20px;">
    <form [formGroup]="supplierForm" (ngSubmit)="save()">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-sm-4">
                <label class="mt-2" style="font-weight: bold;">Supplier Name : <span class="text-danger">*</span></label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="supplierName" placeholder="Enter Supplier Name">
            </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
            <div class="col-sm-4">
                <label class="mt-2" style="font-weight: bold;">Contact Person :</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="contactPerson" placeholder="Enter Contact Person">
            </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
            <div class="col-sm-4">
                <label class="mt-2" style="font-weight: bold;">Select State : <span class="text-danger">*</span></label>
            </div>
            <div class="col-sm-8">
                <mat-select placeholder="Select State" class="form-control" formControlName="stateId">
                    <mat-option *ngFor="let state of states" [value]="state.stateId">
                        {{ state.stateName }}
                    </mat-option>
                </mat-select>
            </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
            <div class="col-sm-4">
                <label class="mt-2" style="font-weight: bold;">Select City : <span class="text-danger">*</span></label>
            </div>
            <div class="col-sm-8">
                <mat-select placeholder="Select City" class="form-control" formControlName="cityId">
                    <mat-option *ngFor="let city of cities" [value]="city.cityId">
                        {{ city.cityName }}
                    </mat-option>
                </mat-select>
            </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
            <div class="col-sm-4">
                <label class="mt-2" style="font-weight: bold;">Address :</label>
            </div>
            <div class="col-sm-8">
                <textarea class="form-control" rows="2" formControlName="address" placeholder="Enter Complete Address"></textarea>
            </div>
        </div>

        <mat-dialog-actions align="end" style="margin-top: 20px; display: flex; justify-content: flex-end;">
            <button mat-raised-button type="button" (click)="close()" style="background-color: lightgray; color: red; margin-right: 10px;">
                <mat-icon>cancel</mat-icon> Close
            </button>
            <button mat-raised-button type="submit" color="primary">
                <mat-icon>save</mat-icon> {{ isEditMode ? 'Update' : 'Save' }}
            </button>
        </mat-dialog-actions>
    </form>
</div>