.btn-dark {
  background-color: #111 !important;
  color: #fff !important;
}

/* Ensure proper spacing and alignments in the table */
th,
td {
  padding: 10px 16px;
  vertical-align: middle;
}

a:hover {
  text-decoration: underline !important;
}

/* =========================================
   TABLE HORIZONTAL SCROLL
========================================= */

.table-responsive {
  width: 100%;
  overflow-x: auto !important;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}


/* =========================================
   TABLE WIDTH
========================================= */

.audit-table {
  width: max-content !important;
  min-width: 100%;
  border-collapse: collapse;
}


/* =========================================
   NO WRAPPING
========================================= */

.audit-table th,
.audit-table td {
  white-space: nowrap !important;
  vertical-align: middle;
}


/* =========================================
   FROZEN COLUMNS
========================================= */

.frozen-col {
  position: sticky !important;
  z-index: 50 !important;
  background-color: #fff !important;
}


/* =========================================
   FROZEN HEADER
========================================= */

.audit-table thead .frozen-col {
  background-color: #3f3f3f !important;
  color: #fff !important;
  z-index: 150 !important;
}


/* =========================================
   LAST FROZEN COLUMN
========================================= */

.last-frozen {
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.08);
}


/* =========================================
   HEADER
========================================= */

.audit-table thead th {
  padding: 10px 16px;
  vertical-align: middle;
  white-space: nowrap !important;
}


/* =========================================
   BODY
========================================= */

.audit-table tbody td {
  padding: 10px 16px;
  vertical-align: middle;
}


/* =========================================
   ACTION ICONS
========================================= */

.audit-table .fa-edit {
  color: cornflowerblue;
  cursor: pointer;
  margin-right: 8px;
}

.audit-table .fa-trash {
  color: red;
  cursor: pointer;
}