<div class="custom-layout-wrapper">

  <div style="display: flex; justify-content: flex-end; gap: 8px; margin-bottom: 15px;">

    <button mat-raised-button
      style="background-color: #1a1a1a; color: white; padding: 0 16px; height: 40px; border: none; border-radius: 4px; display: flex; align-items: center; gap: 6px; font-weight: 500; cursor: pointer;"
      (click)="toggleFilters()">
      <mat-icon style="font-size: 18px; height: 18px; width: 18px;  margin-top:4px">filter_list</mat-icon>
      Filter
    </button>

    <!-- <button mat-raised-button
      style="background-color: #1a1a1a; color: white; padding: 0 16px; height: 40px; border: none; border-radius: 4px; display: flex; align-items: center; gap: 6px; font-weight: 500; cursor: pointer;">
      <mat-icon style="font-size: 18px; height: 18px; width: 18px; margin-top:4px">download</mat-icon>
      Download Template
    </button> -->

    <!-- <button mat-raised-button style="background-color: #1a1a1a; color: white; padding: 0 16px; height: 40px; border: none; border-radius: 4px; display: flex; align-items: center; gap: 6px; font-weight: 500; cursor: pointer;">
    Grid Columns
  </button> -->

    <button mat-raised-button
      style="background-color: #2196f3; color: white; padding: 0 16px; height: 40px; border: none; border-radius: 4px; display: flex; align-items: center; gap: 6px; font-weight: 500; cursor: pointer;"
      (click)="addPartFamily(null)">
      <mat-icon style="font-size: 18px; height: 18px; width: 18px;  margin-top:4px">add</mat-icon>
      Add Parts Family
    </button>

  </div>

  <div class="filter-wrapper" *ngIf="showFilters">
    <mat-card class="filter-card">
      <mat-card-content>
        <div class="filter-row" [formGroup]="filterForm">

          <div class="filter-group">
            <label class="filter-label mb-0">Keyword :</label>
            <input type="text" placeholder="Enter Keyword" class="custom-mat-input" formControlName="Keyword">
          </div>

          <div class="filter-group">
            <label class="filter-label mb-0">Status :</label>
            <mat-select placeholder="Select Status" class="custom-mat-select" formControlName="Status">
              <mat-option [value]="true">Active</mat-option>
              <mat-option [value]="false">Inactive</mat-option>
            </mat-select>

          </div>

          <div class="button-group">
            <button mat-raised-button class="btn-go" (click)="getPartsFamilies()">
              <mat-icon>search</mat-icon> Go
            </button>
            <button mat-raised-button class="btn-clear" (click)="clearFilter()">
              <mat-icon>settings_backup_restore</mat-icon> Clear
            </button>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="table-responsive bg-white shadow-sm">
    <table class="custom-grid-table">
      <thead>
        <tr>
          <th style="width:30%">Part Family Name</th>
          <th class="text-center" style="width: 200px;">Part Code</th>
          <th class="text-center" style="width: 200px;">Defects</th>
          <th class="text-center" style="width: 150px;">Status</th>
          <th class="text-center" style="width: 150px;">Parameters</th>
          <!-- <th class="text-center" style="width: 150px;"> Parameter Template</th> -->
          <th class="text-center" style="width: 190px;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableLists">

          <td>{{ item.partFamilyName }}</td>

          <td>{{ item.partFamilyCode }}</td>
          <td>Defects</td>

          <td class="text-center">
            <a class="status-link" [ngClass]="item.isActive ? 'text-blue' : 'text-red'"
              matTooltip="Click to Change Status" (click)="changeStatus(item)">

              {{ item.isActive ? 'Active' : 'Inactive' }}

            </a>
          </td>
          <td class="text-center">
            <a class="text-blue" style="cursor: pointer; text-decoration: underline;"
              [routerLink]="['../families-inner-grid']" [queryParams]="{ partFamilyId: item.partFamilyId }"
              matTooltip="View Parameter Details">
              {{ item.parametersCount || 0 }}
            </a>
          </td>

          <td class="text-center manage-icons">

            <mat-icon class="edit-icon" matTooltip="Edit" (click)="addPartFamily(item)">
              edit
            </mat-icon>

            <mat-icon class="delete-icon" matTooltip="Delete" (click)="deleteConfirmation(item)">
              delete
            </mat-icon>

          </td>

        </tr>
      </tbody>
    </table>

    <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
      [pageSizeOptions]="[5,10,25,50,100]" (page)="fnHandlePage($event)" showFirstLastButtons>
    </mat-paginator>
  </div>

</div>