<!-- <div style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px; padding-right: 20px;">
 
  <button mat-raised-button matTooltip="Filter" style="background-color: black; color: white"
    class="filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
    <mat-icon class="">filter_list</mat-icon> Filter
  </button>

 
</div>

<div class="col-sm-12" style="overflow: hidden; width: 100%;">

  <div class="col-sm-12" fxLayout="row wrap" *ngIf="filterToggle" style="margin-bottom: 0px;">
    <div style="margin-top: 10px; width: 100%;">
      <form [formGroup]="myGroup">
        <mat-card class="filter">
          <mat-card-content>
            <div class="row col-lg-12 col-sm-12">
              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass"><b>Keyword:</b></div>
                <div class="col-sm-8">
                  <input type="text" formControlName="Keyword" class="form-control" placeholder="Search by keyword" />
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass"><b>Process Category :</b></div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="ProcessCategory"
                    placeholder="Select Process Category">
                    <mat-option *ngFor="let category of processCategories" [value]="category">
                      {{ category }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass">
                  <b>Select Supplier Name:</b>
                </div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="SupplierName" placeholder="Select Supplier Name">
                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier">
                      {{ supplier }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass">
                  <b>Action Type :</b>
                </div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="ActionType" placeholder="Select Action Type">
                    <mat-option *ngFor="let action of actionTypes" [value]="action">
                      {{ action }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

            


              <div class="col-sm-12 pull-right mt-3" style="margin-left: -15px;">
                <a (click)="filterToggle = !filterToggle" class="pull-right"
                  style="font-size: 25px; cursor: pointer; margin-left: 5px">
                  <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                </a>

                <button mat-raised-button class="pull-right btn-default margin-right-10" (click)="clearFilter()">
                  <mat-icon>settings_backup_restore</mat-icon>Clear
                </button>
                <button mat-raised-button style="margin-right: 10px;" color="primary" class="pull-right" (click)="go()">
                  <mat-icon>search</mat-icon>Search
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>

  <div class="col-sm-12" style="margin-top: 10px; width: 100%; padding: 0;">
    <div class="table-responsive" id="grid-table-container">

      <table mat-table class="table table-bordered table-hover">
        <thead class="tbl-head">
          <tr>
            <th mat-header-cell mat-sort-header class="text-center"
              style="width: 50px; min-width: 50px; max-width: 50px;">Action</th>
            <th mat-header-cell mat-sort-header class="text-center">Status</th>
            <th mat-header-cell mat-sort-header class="text-center">Resolved </th>
            <th mat-header-cell mat-sort-header class="text-center">Docs</th>
             <th mat-header-cell mat-sort-header class="text-center">Reference </th>
            <th mat-header-cell mat-sort-header class="text-center">CAPA Subject</th>
            <th mat-header-cell mat-sort-header class="text-center">Supplier Name</th>
            <th mat-header-cell mat-sort-header class="text-center">Action Type</th>
         
            <th mat-header-cell mat-sort-header class="text-center">Process Category</th>
            <th mat-header-cell mat-sort-header class="text-center">Description</th>
            <th mat-header-cell mat-sort-header class="text-center">Supplier Remarks</th>
            <th mat-header-cell mat-sort-header class="text-center">Log Date</th>
            <th mat-header-cell mat-sort-header class="text-center"> Due Date</th>
            <th mat-header-cell mat-sort-header class="text-center">Delay In Days</th>
            <th mat-header-cell mat-sort-header class="text-center">Completion Date</th>
            <th mat-header-cell mat-sort-header class="text-center">Severity</th>
            <th mat-header-cell mat-sort-header class="text-center">Occurrence</th>
            <th mat-header-cell mat-sort-header class="text-center">Detection</th>
            <th mat-header-cell mat-sort-header class="text-center">Risk Rating</th>
            <th mat-header-cell mat-sort-header class="text-center">Rating</th>
            <th mat-header-cell mat-sort-header class="text-center">PDCA Status</th>
           </tr>
        </thead>

        <tbody>
          <tr *ngFor="let applicant of pagedCapaData">
            <td class="text-center" style="width: 50px; min-width: 50px; max-width: 50px;">
              <a matTooltip="Delete" (click)="deleteConfirmation(applicant)"><i class="fa fa-trash red"></i></a>
            </td>

          

             <td class="text-center">
              <mat-select [(ngModel)]="applicant.status" (selectionChange)="onStatusChange(applicant)"
                class="form-control">
                 <mat-option *ngFor="let status of capaStatusLookups" [value]="status.lookupId.toString()">
                  {{ status.lookupName }}
                </mat-option>
              </mat-select>
            </td>

             <td class="text-center">
              <mat-checkbox [checked]="applicant.resolved" (change)="onResolvedChange(applicant, $event)"
                color="primary"></mat-checkbox>
            </td>

          

             <td class="text-center" style="color: blue; cursor: pointer;" (click)="docsPhoto(applicant)">
              {{ applicant.docs }}
            </td>
          

             <td class="text-link text-center">
              <a [routerLink]="['/app','sqm','process-inner-screen','process-audit-reference']" [queryParams]="{ 
        id: applicant.processAuditId, 
        ref: applicant.auditReference, 
        categoryId: applicant.processCategoryId, 
        checklistId: applicant.checklistId 
     }">
                {{ applicant.reference }}
              </a>
            </td>
            <td class="text-center">{{ applicant.actionSubject }}</td>
            <td class="text-center">{{ applicant.supplierName }}</td>
            <td class="text-center">{{ applicant.actionType }}</td>
             <td class="text-center">{{ applicant.processCategory }}</td>
            <td class="text-center">
              <mat-icon (click)="imageSource1(applicant.description)" matTooltip="{{ applicant.description }}"
                style="color: blue; cursor: pointer;">info</mat-icon>
            </td>
            <td class="text-center">
              <mat-icon (click)="imageSource1(applicant.supplierRemarks)" matTooltip="{{ applicant.supplierRemarks }}"
                style="color: blue; cursor: pointer;">info</mat-icon>
            </td>
            <td class="text-center">{{ applicant.logDate | date:'dd-MM-yyyy' }}</td>
            <td class="text-center">{{ applicant.dueDate | date:'dd-MM-yyyy' }}</td>
            <td class="text-center">{{ applicant.delayInDays === 0 ? '-' : applicant.delayInDays }}</td>
            <td class="text-center">{{ applicant.completion | date:'dd-MM-yyyy' }}</td>
            <td class="text-center">{{ applicant.severity }}</td>
            <td class="text-center">{{ applicant.occurrence }}</td>
            <td class="text-center">{{ applicant.detection }}</td>
            <td class="text-center">{{ applicant.riskRating }}</td>
            <td class="text-center">{{ applicant.rating }}</td>
            <td class="text-center">{{ applicant.pdcaStatus }}</td>
          </tr>
        </tbody>
      </table>

      <button class="mine mine-right" mat-fab (click)="scrollRight()">
        <mat-icon style="color: #37474f">fast_forward</mat-icon>
      </button>
      <button class="mine mine-left" mat-fab (click)="scrollLeft()">
        <mat-icon style="color: #37474f">fast_rewind</mat-icon>
      </button>

    </div>

    <div style="width: 100%;">
      <mat-paginator [length]="totalSize" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="[5, 10, 20, 25, 50, 100]" (page)="onPageChange($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div> -->

<div style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px; padding-right: 20px;">
  <button mat-raised-button style="background-color: black; color: white" [class.disable-custom]="!canUpdate"
    class="filter-hover margin-right-10" [matTooltip]="!canUpdate ? 'You don’t have permission to update' : 'Grid View'"
    (click)="canUpdate && openColumnSelector()">

    <mat-icon>grid_on</mat-icon>
    Grid View

  </button>
  <button mat-raised-button matTooltip="Filter" style="background-color: black; color: white"
    class="filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
    <mat-icon class="">filter_list</mat-icon> Filter
  </button>
</div>

<div class="col-sm-12" style="overflow: hidden; width: 100%;">

  <div class="col-sm-12" fxLayout="row wrap" *ngIf="filterToggle" style="margin-bottom: 0px;">
    <div style="margin-top: 10px; width: 100%;">
      <form [formGroup]="myGroup">
        <mat-card class="filter">
          <mat-card-content>
            <div class="row col-lg-12 col-sm-12">
              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass"><b>Keyword:</b></div>
                <div class="col-sm-8">
                  <input type="text" formControlName="Keyword" class="form-control" placeholder="Search by keyword" />
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass"><b>Process Category :</b></div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="ProcessCategory"
                    placeholder="Select Process Category">
                    <mat-option *ngFor="let category of processCategories" [value]="category">
                      {{ category }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass">
                  <b>Select Supplier:</b>
                </div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="SupplierName" placeholder="Select Supplier Name">
                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier">
                      {{ supplier }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-4 row me-2 mt-3">
                <div class="col-sm-4 newMarginClass">
                  <b>Action Type :</b>
                </div>
                <div class="col-sm-8">
                  <mat-select class="form-control" formControlName="ActionType" placeholder="Select Action Type">
                    <mat-option *ngFor="let action of actionTypes" [value]="action">
                      {{ action }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-sm-12 pull-right mt-3" style="margin-left: -15px;">
                <a (click)="filterToggle = !filterToggle" class="pull-right"
                  style="font-size: 25px; cursor: pointer; margin-left: 5px">
                  <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                </a>

                <button mat-raised-button class="pull-right btn-default margin-right-10" (click)="clearFilter()">
                  <mat-icon>settings_backup_restore</mat-icon>Clear
                </button>
                <button mat-raised-button style="margin-right: 10px;" color="primary" class="pull-right" (click)="go()">
                  <mat-icon>search</mat-icon>Search
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>

  <div class="col-sm-12" style="margin-top: 10px; width: 100%; padding: 0;">
    <div class="table-responsive" id="grid-table-container">

      <table class="table table-bordered table-hover audit-table">

        <thead class="tbl-head">

          <tr>

            <ng-container *ngFor="let col of activeColumns; let i = index" [ngSwitch]="col">

              <!-- ACTION -->
              <th *ngSwitchCase="'Action'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Action

              </th>


              <!-- STATUS -->
              <th *ngSwitchCase="'Status'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Status

              </th>


              <!-- RESOLVED -->
              <th *ngSwitchCase="'Resolved'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Resolved

              </th>


              <!-- DOCS -->
              <th *ngSwitchCase="'Docs'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Docs

              </th>


              <!-- REFERENCE -->
              <th *ngSwitchCase="'Reference'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Reference

              </th>


              <!-- CAPA SUBJECT -->
              <th *ngSwitchCase="'CAPA Subject'" mat-header-cell class="text-center"
                [class.frozen-col]="i < frozenCount" [class.last-frozen]="i === frozenCount - 1"
                [style.left]="getStickyLeft(i)" [style.min-width.px]="getColumnWidth(col)">

                CAPA Subject

              </th>


              <!-- SUPPLIER NAME -->
              <th *ngSwitchCase="'Supplier Name'" mat-header-cell class="text-center"
                [class.frozen-col]="i < frozenCount" [class.last-frozen]="i === frozenCount - 1"
                [style.left]="getStickyLeft(i)" [style.min-width.px]="getColumnWidth(col)">

                Supplier Name

              </th>


              <!-- ACTION TYPE -->
              <th *ngSwitchCase="'Action Type'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Action Type

              </th>


              <!-- PROCESS CATEGORY -->
              <th *ngSwitchCase="'Process Category'" mat-header-cell class="text-center"
                [class.frozen-col]="i < frozenCount" [class.last-frozen]="i === frozenCount - 1"
                [style.left]="getStickyLeft(i)" [style.min-width.px]="getColumnWidth(col)">

                Process Category

              </th>


              <!-- DESCRIPTION -->
              <th *ngSwitchCase="'Description'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Description

              </th>


              <!-- SUPPLIER REMARKS -->
              <th *ngSwitchCase="'Supplier Remarks'" mat-header-cell class="text-center"
                [class.frozen-col]="i < frozenCount" [class.last-frozen]="i === frozenCount - 1"
                [style.left]="getStickyLeft(i)" [style.min-width.px]="getColumnWidth(col)">

                Supplier Remarks

              </th>


              <!-- LOG DATE -->
              <th *ngSwitchCase="'Log Date'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Log Date

              </th>


              <!-- DUE DATE -->
              <th *ngSwitchCase="'Due Date'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Due Date

              </th>


              <!-- DELAY IN DAYS -->
              <th *ngSwitchCase="'Delay In Days'" mat-header-cell class="text-center"
                [class.frozen-col]="i < frozenCount" [class.last-frozen]="i === frozenCount - 1"
                [style.left]="getStickyLeft(i)" [style.min-width.px]="getColumnWidth(col)">

                Delay In Days

              </th>


              <!-- COMPLETION DATE -->
              <th *ngSwitchCase="'Completion Date'" mat-header-cell class="text-center"
                [class.frozen-col]="i < frozenCount" [class.last-frozen]="i === frozenCount - 1"
                [style.left]="getStickyLeft(i)" [style.min-width.px]="getColumnWidth(col)">

                Completion Date

              </th>


              <!-- SEVERITY -->
              <th *ngSwitchCase="'Severity'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Severity

              </th>


              <!-- OCCURRENCE -->
              <th *ngSwitchCase="'Occurrence'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Occurrence

              </th>


              <!-- DETECTION -->
              <th *ngSwitchCase="'Detection'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Detection

              </th>


              <!-- RISK RATING -->
              <th *ngSwitchCase="'Risk Rating'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Risk Rating

              </th>


              <!-- RATING -->
              <th *ngSwitchCase="'Rating'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                Rating

              </th>


              <!-- PDCA STATUS -->
              <th *ngSwitchCase="'PDCA Status'" mat-header-cell class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                PDCA Status

              </th>

            </ng-container>

          </tr>

        </thead>


        <tbody>

          <tr *ngFor="let applicant of pagedCapaData">

            <ng-container *ngFor="let col of activeColumns; let i = index" [ngSwitch]="col">


              <!-- ACTION -->
              <td *ngSwitchCase="'Action'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                <a [class.disable-custom]="!canDelete" [matTooltip]="
                !canDelete
                  ? 'You don’t have permission to delete'
                  : 'Delete'
              " (click)="canDelete && deleteConfirmation(applicant)">

                  <i class="fa fa-trash red"></i>

                </a>

              </td>


              <!-- STATUS -->
              <td *ngSwitchCase="'Status'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                <mat-select [(ngModel)]="applicant.status" (selectionChange)="onStatusChange(applicant)"
                  [disabled]="!canUpdate" class="form-control">

                  <mat-option *ngFor="let status of capaStatusLookups" [value]="status.lookupId.toString()">

                    {{ status.lookupName }}

                  </mat-option>

                </mat-select>

              </td>


              <!-- RESOLVED -->
              <td *ngSwitchCase="'Resolved'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                <mat-checkbox [checked]="applicant.resolved" [disabled]="!canUpdate" (click)="
                !canUpdate
                  ? $event.preventDefault()
                  : null
              " (change)="
                onResolvedChange(
                  applicant,
                  $event
                )
              " color="primary">
                </mat-checkbox>

              </td>


              <!-- DOCS -->
              <td *ngSwitchCase="'Docs'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                <span style="color: blue; cursor: pointer;" (click)="docsPhoto(applicant)">

                  {{ applicant.docs }}

                </span>

              </td>


              <!-- REFERENCE -->
              <td *ngSwitchCase="'Reference'" class="text-link text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                <a [routerLink]="[
                '/app',
                'sqm',
                'process-inner-screen',
                'process-audit-reference'
              ]" [queryParams]="{
                id: applicant.processAuditId,
                ref: applicant.auditReference,
                categoryId: applicant.processCategoryId,
                checklistId: applicant.checklistId
              }">

                  {{ applicant.reference }}

                </a>

              </td>


              <!-- CAPA SUBJECT -->
              <td *ngSwitchCase="'CAPA Subject'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                <span *ngIf="applicant.delayInDays >= overdueThreshold" class="overdue-subject">

                  <mat-icon>flag</mat-icon>

                  <span>
                    {{ applicant.actionSubject }}
                  </span>

                </span>

                <span *ngIf="applicant.delayInDays < overdueThreshold">

                  {{ applicant.actionSubject }}

                </span>

                <br>

                <small class="delay-info">

                  (Delay: {{ applicant.delayInDays }}
                  | Threshold: {{ overdueThreshold }})

                </small>

              </td>


              <!-- SUPPLIER NAME -->
              <td *ngSwitchCase="'Supplier Name'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                {{ applicant.supplierName }}

              </td>


              <!-- ACTION TYPE -->
              <td *ngSwitchCase="'Action Type'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                {{ applicant.actionType }}

              </td>


              <!-- PROCESS CATEGORY -->
              <td *ngSwitchCase="'Process Category'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                {{ applicant.processCategory }}

              </td>


              <!-- DESCRIPTION -->
              <td *ngSwitchCase="'Description'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                <mat-icon (click)="imageSource1(applicant.description)" [matTooltip]="applicant.description"
                  class="info-icon">

                  info

                </mat-icon>

              </td>


              <!-- SUPPLIER REMARKS -->
              <td *ngSwitchCase="'Supplier Remarks'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                <mat-icon (click)="imageSource1(applicant.supplierRemarks)" [matTooltip]="applicant.supplierRemarks"
                  class="info-icon">

                  info

                </mat-icon>

              </td>


              <!-- LOG DATE -->
              <td *ngSwitchCase="'Log Date'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                {{ applicant.logDate | date:'dd-MM-yyyy' }}

              </td>


              <!-- DUE DATE -->
              <td *ngSwitchCase="'Due Date'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                {{ applicant.dueDate | date:'dd-MM-yyyy' }}

              </td>


              <!-- DELAY IN DAYS -->
              <td *ngSwitchCase="'Delay In Days'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                {{
                applicant.delayInDays === 0
                ? '-'
                : applicant.delayInDays
                }}

              </td>


              <!-- COMPLETION DATE -->
              <td *ngSwitchCase="'Completion Date'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                {{ applicant.completion | date:'dd-MM-yyyy' }}

              </td>


              <!-- SEVERITY -->
              <td *ngSwitchCase="'Severity'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                {{ applicant.severity }}

              </td>


              <!-- OCCURRENCE -->
              <td *ngSwitchCase="'Occurrence'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                {{ applicant.occurrence }}

              </td>


              <!-- DETECTION -->
              <td *ngSwitchCase="'Detection'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                {{ applicant.detection }}

              </td>


              <!-- RISK RATING -->
              <td *ngSwitchCase="'Risk Rating'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                {{ applicant.riskRating }}

              </td>


              <!-- RATING -->
              <td *ngSwitchCase="'Rating'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                {{ applicant.rating }}

              </td>


              <!-- PDCA STATUS -->
              <td *ngSwitchCase="'PDCA Status'" class="text-center" [class.frozen-col]="i < frozenCount"
                [class.last-frozen]="i === frozenCount - 1" [style.left]="getStickyLeft(i)"
                [style.min-width.px]="getColumnWidth(col)">

                {{ applicant.pdcaStatus }}

              </td>

            </ng-container>

          </tr>

        </tbody>

      </table>


      <!-- RIGHT SCROLL -->
      <button class="mine mine-right" mat-fab (click)="scrollRight()">

        <mat-icon style="color: #37474f">
          fast_forward
        </mat-icon>

      </button>


      <!-- LEFT SCROLL -->
      <button class="mine mine-left" mat-fab (click)="scrollLeft()">

        <mat-icon style="color: #37474f">
          fast_rewind
        </mat-icon>

      </button>

    </div>

    <div style="width: 100%;">
      <mat-paginator [length]="totalSize" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="[5, 10, 20, 25, 50, 100]" (page)="onPageChange($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>