<!-- <div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">

        <div class="row" style="margin-bottom:14px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                    <button mat-raised-button color="primary" class="pull-right" (click)="openEditDialog(null)">
                        <mat-icon>person_add</mat-icon> Add User
                    </button>
                    <button mat-raised-button style="background-color: black; color:white;"
                        class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button>
                </div>
            </div>
        </div>

        <div fxLayout="row wrap" *ngIf="filterToggle" style="margin-left: 5px;">
            <div fxFlex="100" class="flex-p w-100">
                <form [formGroup]="filterForm">
                    <mat-card class="filter">
                        <mat-card-content>
                            <div class="row col-sm-12">
                                <div class="col-sm-4 row me-2">
                                    <div class="col-sm-3 newMarginClass"><b>Keyword:</b></div>
                                    <div class="col-sm-9">
                                        <input type="text" formControlName="Keyword" class="form-control"
                                            placeholder="Search by Name, Email...">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-3 newMarginClass"><b>Status:</b></div>
                                    <div class="col-sm-8">
                                        <mat-select placeholder="Select Status" class="form-control"
                                            formControlName="Status">
                                            <mat-option *ngFor="let option of Status"
                                                [value]="option.value">{{option.name}}</mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-sm-4 mt-2" style="margin-left: -25px;">
                                    <button mat-raised-button class="pull-right btn-default margin-right-10"
                                        (click)="clearFilter()">
                                        <mat-icon>settings_backup_restore</mat-icon> Clear
                                    </button>
                                    <button mat-raised-button color="primary" class="pull-right margin-right-10"
                                        (click)="filter()">
                                        <mat-icon>search</mat-icon> Search
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </form>
            </div>
        </div>

        <div class="col-sm-12" style="margin-left: 13px;">
            <div id="grid-table-container" class="table-responsive" style="width: 101%; margin-left: -18px;">
                <table class="table table-bordered table-hover">
                    <thead class="tbl-head">
                        <tr class="tr-grid-header">
                            <th class="text-center">Actions</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Password</th>
                            <th class="text-center">Managers</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Department</th>
                            <th>Role</th>
                            <th class="text-center">HOD</th>
                            <th class="text-center">Inspector</th>
                            <th class="text-center">Auditor</th>
                            <th class="text-center">Managerial Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataSource.connect() | async">
                           

                            <td style="white-space:nowrap" class="text-center">
                                <a matTooltip="Edit User" style="margin-right: 10px; cursor: pointer;"
                                    (click)="openEditDialog(item)">
                                    <i class="fa fa-edit text-primary"></i>
                                </a>

                                <a>
                                    <i matTooltip="Delete User" class="fa fa-trash text-danger" style="cursor:pointer;"
                                        (click)="deleteConfirmation(item)">
                                    </i>
                                </a>
                            </td>

                            <td class="text-center">
                                <span (click)="toggleStatus(item)" [style.color]="item.isActive ? 'green' : 'red'"
                                    style="cursor:pointer; font-weight: bold;">
                                    {{ item.isActive ? 'Active' : 'Inactive' }}
                                </span>
                            </td>

                            <td class="text-center">
                                <a style="cursor: pointer; color: cornflowerblue;" (click)="openResetPassword(item)">
                                    <mat-icon matTooltip="Reset Password">autorenew</mat-icon>
                                </a>
                            </td>

                            <td class="text-center" style="color: blue; cursor:pointer; font-weight: bold;"
                                (click)="openManagersDialog(item.manager)">
                                {{ getManagerCount(item.manager) }}
                            </td>

                            <td>{{item.userName}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.phoneNumber}}</td>
                            <td>{{item.department}}</td>

                            <td><b>{{item.roleName}}</b></td>

                            <td class="text-center">
                                <mat-checkbox [(ngModel)]="item.isHod" (change)="toggleRole(item)"></mat-checkbox>
                            </td>
                            <td class="text-center">
                                <mat-checkbox [(ngModel)]="item.isInspector" (change)="toggleRole(item)"></mat-checkbox>
                            </td>
                            <td class="text-center">
                                <mat-checkbox [(ngModel)]="item.isAuditor" (change)="toggleRole(item)"></mat-checkbox>
                            </td>
                            <td class="text-center">
                                <mat-checkbox [(ngModel)]="item.isManagerialRole" (change)="toggleRole(item)"></mat-checkbox>
                            </td>
                        </tr>

                        <tr *ngIf="dataSource.data.length === 0">
                            <td colspan="11" class="text-center">No records found</td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                    showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div> -->


<!-- 🔥 ACCESS DENIED MESSAGE (If canRead is false) 🔥 -->
<div *ngIf="!canRead" class="container text-center" style="margin-top: 80px;">
  <div class="card p-5 shadow-sm border-danger" style="max-width: 500px; margin: 0 auto; background-color: #fff5f5;">
    <h3 class="text-danger font-weight-bold">Access Denied</h3>
    <p class="text-muted">You do not have permission to view Users.</p>
    <p class="text-secondary small">Please contact your administrator if you believe this is an error.</p>
  </div>
</div>

<!-- 🔥 MAIN SCREEN (Only renders if canRead is true) 🔥 -->
<div *ngIf="canRead" fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">

        <div class="row" style="margin-bottom:14px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                    
                    <!-- 🔥 Add User Button (Locked by canCreate) -->
                    <button mat-raised-button color="primary" class="pull-right" 
                        [class.disable-custom]="!canCreate"
                        [matTooltip]="!canCreate ? 'You don’t have permission to create' : 'Add User'"
                        (click)="canCreate && openEditDialog(null)">
                        <mat-icon>person_add</mat-icon> Add User
                    </button>
                    
                    <button mat-raised-button style="background-color: black; color:white;"
                        class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button>
                </div>
            </div>
        </div>

        <div fxLayout="row wrap" *ngIf="filterToggle" style="margin-left: 5px;">
            <div fxFlex="100" class="flex-p w-100">
                <form [formGroup]="filterForm">
                    <mat-card class="filter">
                        <mat-card-content>
                            <div class="row col-sm-12">
                                <div class="col-sm-4 row me-2">
                                    <div class="col-sm-3 newMarginClass"><b>Keyword:</b></div>
                                    <div class="col-sm-9">
                                        <input type="text" formControlName="Keyword" class="form-control"
                                            placeholder="Search by Name, Email...">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-3 newMarginClass"><b>Status:</b></div>
                                    <div class="col-sm-8">
                                        <mat-select placeholder="Select Status" class="form-control"
                                            formControlName="Status">
                                            <mat-option *ngFor="let option of Status"
                                                [value]="option.value">{{option.name}}</mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-sm-4 mt-2" style="margin-left: -25px;">
                                    <button mat-raised-button class="pull-right btn-default margin-right-10"
                                        (click)="clearFilter()">
                                        <mat-icon>settings_backup_restore</mat-icon> Clear
                                    </button>
                                    <button mat-raised-button color="primary" class="pull-right margin-right-10"
                                        (click)="filter()">
                                        <mat-icon>search</mat-icon> Search
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </form>
            </div>
        </div>

        <div class="col-sm-12" style="margin-left: 13px;">
            <div id="grid-table-container" class="table-responsive" style="width: 101%; margin-left: -18px;">
                <table class="table table-bordered table-hover">
                    <thead class="tbl-head">
                        <tr class="tr-grid-header">
                            <th class="text-center">Actions</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Password</th>
                            <th class="text-center">Managers</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Department</th>
                            <th class="text-center">MFA</th>
                      <th class="text-center">Email OTP</th>
                            <th>Role</th>
                            <th class="text-center">HOD</th>
                            <th class="text-center">Inspector</th>
                            <th class="text-center">Auditor</th>
                            <th class="text-center">Managerial Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataSource.connect() | async">
                            
                            <!-- ACTIONS -->
                            <td style="white-space:nowrap" class="text-center">
                                <!-- 🔥 Edit User (Locked by canUpdate) -->
                                <a [class.disable-custom]="!canUpdate"
                                   [matTooltip]="!canUpdate ? 'You don’t have permission to update' : 'Edit User'" 
                                   style="margin-right: 10px; cursor: pointer;"
                                   (click)="canUpdate && openEditDialog(item)">
                                    <i class="fa fa-edit text-primary"></i>
                                </a>

                                <!-- 🔥 Delete User (Locked by canDelete) -->
                                <a [class.disable-custom]="!canDelete"
                                   [matTooltip]="!canDelete ? 'You don’t have permission to delete' : 'Delete User'" 
                                   style="cursor:pointer;"
                                   (click)="canDelete && deleteConfirmation(item)">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>

                            <!-- 🔥 STATUS TOGGLE (Locked by canUpdate) -->
                            <td class="text-center">
                                <span (click)="canUpdate && toggleStatus(item)" 
                                      [style.color]="item.isActive ? 'green' : 'red'"
                                      [class.disable-custom]="!canUpdate"
                                      [matTooltip]="!canUpdate ? 'You don’t have permission to update' : 'Toggle Status'"
                                      style="cursor:pointer; font-weight: bold;">
                                    {{ item.isActive ? 'Active' : 'Inactive' }}
                                </span>
                            </td>

                            <!-- 🔥 RESET PASSWORD (Locked by canUpdate) -->
                            <td class="text-center">
                                <a style="cursor: pointer; color: cornflowerblue;" 
                                   [class.disable-custom]="!canUpdate"
                                   [matTooltip]="!canUpdate ? 'You don’t have permission to update' : 'Reset Password'"
                                   (click)="canUpdate && openResetPassword(item)">
                                    <mat-icon>autorenew</mat-icon>
                                </a>
                            </td>

                            <!-- 🔥 MANAGER VIEW (Locked by canUpdate) -->
                            <td class="text-center" style="color: blue; cursor:pointer; font-weight: bold;"
                                [class.disable-custom]="!canUpdate"
                                [matTooltip]="!canUpdate ? 'You don’t have permission to update' : 'View Managers'"
                                (click)="canUpdate && openManagersDialog(item.manager)">
                                {{ getManagerCount(item.manager) }}
                            </td>

                            <td>{{item.userName}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.phoneNumber}}</td>
                            <td>{{item.department}}</td>

                            <!-- 🔥 SMART MFA CHECKBOX -->
              <td class="text-center">
                  <mat-checkbox [(ngModel)]="item.isMfaEnabled" 
                                (change)="onMfaChange(item, $event)" 
                                [disabled]="!canUpdate">
                  </mat-checkbox>
              </td>
              <td class="text-center">
                  <mat-checkbox [(ngModel)]="item.twoFactor" (change)="toggleRole(item)" [disabled]="!canUpdate"></mat-checkbox>
              </td>

                            <td><b>{{item.roleName}}</b></td>

                            <!-- 🔥 CHECKBOXES (Locked by canUpdate via [disabled]) -->
                            <td class="text-center">
                                <mat-checkbox [(ngModel)]="item.isHod" (change)="toggleRole(item)" [disabled]="!canUpdate"></mat-checkbox>
                            </td>
                            <td class="text-center">
                                <mat-checkbox [(ngModel)]="item.isInspector" (change)="toggleRole(item)" [disabled]="!canUpdate"></mat-checkbox>
                            </td>
                            <td class="text-center">
                                <mat-checkbox [(ngModel)]="item.isAuditor" (change)="toggleRole(item)" [disabled]="!canUpdate"></mat-checkbox>
                            </td>
                            <td class="text-center">
                                <mat-checkbox [(ngModel)]="item.isManagerialRole" (change)="toggleRole(item)" [disabled]="!canUpdate"></mat-checkbox>
                            </td>
                        </tr>

                        <tr *ngIf="dataSource.data.length === 0">
                            <td colspan="13" class="text-center">No records found</td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                    showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>