<div class="NewHeader">
    <h1 mat-dialog-title>
        Reset Password
    </h1>
</div>

<div mat-dialog-content style="padding: 20px;">
    <form class="form-horizontal" [formGroup]="myform">

        <div class="row align-items-center mb-3 mt-2">
            <label class="col-sm-4 control-label text-end fw-bold">New Password: <span
                    class="text-danger">*</span></label>
            <div class="col-sm-8">
                <input type="password" formControlName="Password" class="form-control" maxlength="50"
                    placeholder="Please Enter New Password">
                <small class="text-danger"
                    *ngIf="myform.controls['Password'].invalid && (myform.controls['Password'].dirty || myform.controls['Password'].touched)">
                    Password is required.
                </small>
            </div>
        </div>

        <div class="row align-items-center mb-3">
            <label class="col-sm-4 control-label text-end fw-bold">Confirm Password: <span
                    class="text-danger">*</span></label>
            <div class="col-sm-8">
                <input type="password" formControlName="UserPassword" class="form-control" maxlength="50"
                    placeholder="Please Confirm New Password">
                <small class="text-danger"
                    *ngIf="myform.controls['UserPassword'].invalid && (myform.controls['UserPassword'].dirty || myform.controls['UserPassword'].touched)">
                    Confirm Password is required.
                </small>
            </div>
        </div>

    </form>
</div>

<mat-dialog-actions align="center" style="padding-bottom: 20px;">
    <button mat-raised-button color="primary" [disabled]="!myform.valid || isSubmitting" (click)="saveData()">
        <mat-icon>save</mat-icon> Save
    </button>
    <button mat-raised-button style="background-color: lightgray; color: red; margin-left: 10px;" (click)="close()">
        <mat-icon>cancel</mat-icon> Close
    </button>
</mat-dialog-actions>
