<div class="custom-layout-wrapper">

    <div class="table-responsive bg-white shadow-sm">

        <table class="custom-grid-table">

            <thead>
                <tr>

                    <th style="width:25%">Subject</th>

                    <th class="text-center" style="width:120px;">
                        Min
                    </th>

                    <th class="text-center" style="width:120px;">
                        Max
                    </th>

                    <th style="width:35%;">
                        Description
                    </th>

                    <th class="text-center" style="width:150px;">
                        Actions
                    </th>

                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let item of tableData">

                    <!-- Subject -->
                    <td>
                        {{ item.subject }}
                    </td>

                    <!-- Min -->
                    <td class="text-center">

                        <input class="form-control text-center" type="number" [(ngModel)]="item.min"
                            [readonly]="item.subject == 'Parts Audit Poor Band'">

                    </td>

                    <!-- Max -->
                    <td class="text-center">

                        <input class="form-control text-center" type="number" [(ngModel)]="item.max" readonly>

                    </td>

                    <!-- Description -->
                    <td>

                        <textarea class="form-control" rows="2" [(ngModel)]="item.description"
                            placeholder="Enter Description">
            </textarea>

                    </td>

                    <!-- Actions -->
                    <td class="text-center">

                        <button mat-raised-button color="primary" [class.disable-custom]="!canUpdate"
                            [matTooltip]="!canUpdate ? 'You don’t have permission to update' : 'Save'"
                            (click)="canUpdate && saveBand(item)">

                            <mat-icon class="mt-1">
                                save
                            </mat-icon>

                            <span class="button-text">
                                Save
                            </span>

                        </button>

                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</div>