<div class="custom-layout-wrapper">

    <div class="toolbar-row mb-3 d-flex justify-content-end" style="width: 100%;">
        <button mat-raised-button
            style="background-color: #1a1a1a; color: white; padding: 10px 16px; height: 40px; border: none; border-radius: 4px; display: flex; align-items: center; gap: 6px; font-weight: 500; cursor: pointer;"
            (click)="toggleFilters()">
            <mat-icon style="font-size: 18px; height: 18px; width: 18px;  margin-top:4px">filter_list</mat-icon>
            Filter
        </button>

        &nbsp;&nbsp;&nbsp;&nbsp;

        <button mat-raised-button color="primary" class="btn-blue" (click)="addSupplier(null)">
            <mat-icon>add</mat-icon> Add Supplier
        </button>
    </div>

    <div class="filter-wrapper" *ngIf="showFilters" style="width: 100%;">
        <mat-card class="filter-card">
            <mat-card-content>
                <div class="filter-row">

                    <div class="filter-group">
                        <label class="filter-label mb-0">Keyword :</label>
                        <input type="text" placeholder="Enter Keyword" class="custom-mat-input">
                    </div>

                    <div class="button-group">
                        <button mat-raised-button class="btn-go">
                            <mat-icon>search</mat-icon> Go
                        </button>
                        <button mat-raised-button class="btn-clear">
                            <mat-icon>settings_backup_restore</mat-icon> Clear
                        </button>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover" style="width: 100%;">
            <thead class="tbl-head">
                <tr>
                    
                   
                    <th>Supplier Name</th>
                    <th>Contact Person</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Address</th>
                     <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of mockdata">

                   

                 
                    <td>{{ item.SupplierName }}</td>
                    <td>{{ item.ContactPerson }}</td>
                    <td>{{ item.State }}</td>
                    <td>{{ item.City }}</td>

                    <td class="text-center">
                        <mat-icon color="primary" [matTooltip]="item.Address" matTooltipPosition="above"
                            style="cursor: pointer; color: blue; font-size: 18px; vertical-align: middle; margin-left: 5px;">
                            info
                        </mat-icon>
                    </td>
                       <td class="text-center" [style.color]="item.Status === 'Active' ? 'blue' : 'red'" style="font-weight: 400;">
                        {{ item.Status }}
                    </td>


                     <td class="text-center">
                        <a matTooltip="Edit Record" style="margin-right: 12px; cursor: pointer;"
                            (click)="addSupplier(item)">
                            <mat-icon style="color: cornflowerblue; font-size: 20px;">edit</mat-icon>
                        </a>

                        <a matTooltip="Delete Record" style="cursor: pointer;">
                            <mat-icon style="color: red; font-size: 20px;">delete</mat-icon>
                        </a>
                    </td>

                </tr>

                <tr *ngIf="!mockdata || mockdata.length === 0">
                    <td colspan="7" class="text-center">No records found</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>