<div class="container-fluid" style="padding: 0px;">
  <div class="row" style="margin: 0px;">
    <div class="col-sm-12" style="padding: 0px;">
      <div class="expanded-filter-content">
        <form [formGroup]="myGroup">
          <div class="row">
            <!-- Inspection Date -->
            <div class="col-lg-4 col-md-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm-4 newMarginClass">
                  <b>Inspection Date:</b>
                </div>
                <div class="col-sm-8">
                  <input type="date" class="form-control" formControlName="inspectionDate" />
                </div>
              </div>
            </div>

            <!-- Inspector -->
            <div class="col-lg-4 col-md-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm-4 newMarginClass">
                  <b>Inspector:</b>
                </div>
                <div class="col-sm-8">
                  <mat-select formControlName="inspector" class="form-control mat-select-custom"
                    placeholder="Select Inspector">
                    <mat-option *ngFor="let inspector of inspectors" [value]="inspector">
                      {{ inspector }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </div>

            <!-- Part Family -->
            <div class="col-lg-4 col-md-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm-4 newMarginClass">
                  <b>Part Family:</b>
                </div>
                <div class="col-sm-8">
                  <mat-select formControlName="partFamily" class="form-control mat-select-custom"
                    placeholder="Select Part Family">
                    <mat-option *ngFor="let family of partFamilies" [value]="family">
                      {{ family }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </div>

            <!-- Part Name -->
            <div class="col-lg-4 col-md-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm-4 newMarginClass">
                  <b>Part Name:</b>
                </div>
                <div class="col-sm-8">
                  <mat-select formControlName="partName" class="form-control mat-select-custom"
                    placeholder="Select Part Name">
                    <input type="text" class="form-control" [value]="partNameSearch" placeholder="Search part name..."
                      style="margin: 8px; width: calc(100% - 16px); box-sizing: border-box;"
                      (keydown)="$event.stopPropagation()" (input)="filterPartNames($any($event.target).value)">
                    <mat-option *ngFor="let name of filteredPartNames" [value]="name">
                      {{ name }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </div>

            <!-- Part Number -->
            <div class="col-lg-4 col-md-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm-4 newMarginClass">
                  <b>Part Number:</b>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="partNumber"
                    placeholder="Enter Part Number" />
                </div>
              </div>
            </div>

            <!-- Batch Number -->
            <div class="col-lg-4 col-md-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm-4 newMarginClass">
                  <b>Batch Number:</b>
                </div>
                <div class="col-sm-8">
                  <mat-select formControlName="batchNumber" class="form-control mat-select-custom"
                    placeholder="Select Batch Number">
                    <mat-option *ngFor="let batch of batchNumbers" [value]="batch">
                      {{ batch }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </div>

            <!-- Buttons -->
            <div class="col-12 text-end mt-2">
              <button mat-raised-button class="btn-clear me-2" type="button" (click)="clearFilter()">
                <mat-icon>settings_backup_restore</mat-icon> Clear
              </button>
              <button mat-raised-button color="primary" class="btn-search" type="button" (click)="go()">
                <mat-icon>search</mat-icon> Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px; padding-right: 0px;">
  <button mat-raised-button style="background-color: black; color: white" (click)="openColumnSelector()"
    class="filter-hover margin-right-10">
    <mat-icon>grid_on</mat-icon> Grid View
  </button>
  <!-- <button mat-raised-button matTooltip="Filter" style="background-color: black; color: white"
    class="filter-hover margin-right-30" (click)="filterToggle = !filterToggle">
    <mat-icon class="">filter_list</mat-icon> Filter
  </button> -->
</div>

<div class="table-responsive" id="grid-table-container" #tableContainer>
  <table class="table table-bordered table-hover audit-table">
    <!-- ===================== HEADER ===================== -->
    <thead class="tbl-head">
      <tr>
        <th *ngFor="let column of activeColumns; let i = index" class="text-center" [class.frozen-col]="i < frozenCount"
          [class.last-frozen]="i === (frozenCount - 1)" [style.left]="getStickyLeft(i)"
          [style.min-width.px]="getColumnWidth(column)" [style.width.px]="getColumnWidth(column)">
          {{ column }}
        </th>
      </tr>
    </thead>

    <!-- ===================== BODY ===================== -->
    <tbody>
      <tr *ngFor="let item of pagedMockdata">

        <!-- ACTIONS -->
        <td *ngFor="let column of activeColumns; let i = index" class="text-center" [class.frozen-col]="i < frozenCount"
          [class.last-frozen]="i === (frozenCount - 1)" [style.left]="getStickyLeft(i)"
          [style.min-width.px]="getColumnWidth(column)" [style.width.px]="getColumnWidth(column)">

          <ng-container [ngSwitch]="column">

            <!-- ================= ACTIONS ================= -->
            <ng-container *ngSwitchCase="'Actions'">

              <!-- Edit -->
              <a matTooltip="Edit Record" [class.disable-custom]="!canUpdate" [matTooltip]="
                  !canUpdate
                    ? 'You don’t have permission to update'
                    : 'Edit Record'
                " style="margin-right: 8px; cursor: pointer" (click)="canUpdate && openEditDialog(item)">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>

              <!-- Delete -->
              <a [class.disable-custom]="!canDelete" [matTooltip]="
                  !canDelete
                    ? 'You don’t have permission to delete'
                    : 'Delete Record'
                " style="margin-right: 8px; cursor: pointer" (click)="canDelete && deleteConfirmation(item)">
                <i class="fa fa-trash" style="color: red"></i>
              </a>

              <!-- Unarchive -->
              <a [class.disable-custom]="!canUpdate" [matTooltip]="
                  !canUpdate
                    ? 'You don’t have permission to update'
                    : 'Unarchive Record'
                " style="cursor: pointer" (click)="canUpdate && unarchiveRecord(item)">
                <i class="fa fa-undo" style="color: #28a745"></i>
              </a>

            </ng-container>

            <!-- ================= REFERENCE ================= -->
            <ng-container *ngSwitchCase="'Reference'">

              <a class="text-link" [class.disable-custom]="!canreadCAPAScreen" [matTooltip]="
                  !canreadCAPAScreen
                    ? 'You don’t have permission to view'
                    : 'View Record'
                " [routerLink]="
                  canreadCAPAScreen
                    ? [
                        '/app',
                        'sqm',
                        'inspect-inner-screen',
                        'active-records'
                      ]
                    : null
                " [queryParams]="
                  canreadCAPAScreen
                    ? {
                        inspectionId: item.id,
                        reference: item.Reference,
                        partFamily: item.PartFamily,
                        partName: item.PartName
                      }
                    : null
                ">
                {{ item.Reference }}
              </a>

            </ng-container>

            <!-- ================= PUBLISH ================= -->
            <ng-container *ngSwitchCase="'Publish'">

              <mat-checkbox [(ngModel)]="item.Publish" (change)="togglePublish(item)" color="primary">
              </mat-checkbox>

            </ng-container>

            <!-- ================= INSPECTION DATE ================= -->
            <ng-container *ngSwitchCase="'Inspection Date'">

              {{ item.InspectionDate }}

            </ng-container>

            <!-- ================= TIME ================= -->
            <ng-container *ngSwitchCase="'Time'">

              {{ item.Time }}

            </ng-container>

            <!-- ================= INSPECTOR ================= -->
            <ng-container *ngSwitchCase="'Inspector'">

              {{ item.Inspector }}

            </ng-container>

            <!-- ================= PART FAMILY ================= -->
            <ng-container *ngSwitchCase="'Part Family'">

              {{ item.PartFamily }}

            </ng-container>

            <!-- ================= PART NAME ================= -->
            <ng-container *ngSwitchCase="'Part Name'">

              {{ item.PartName }}

            </ng-container>

            <!-- ================= PART NUMBER ================= -->
            <ng-container *ngSwitchCase="'Part Number'">

              {{ item.PartNumber }}

            </ng-container>

            <!-- ================= DEFECTS ================= -->
            <ng-container *ngSwitchCase="'Defects'">

              <a [class.disable-custom]="!canUpdate" [matTooltip]="
                  !canUpdate
                    ? 'You don’t have permission to update'
                    : 'View Defects'
                " style="
                  color: #007bff;
                  cursor: pointer;
                  text-decoration: underline;
                  font-weight: 500;
                " (click)="canUpdate && openDefectsPop(item)">
                {{ item.Defects }}
              </a>

            </ng-container>

            <!-- ================= PARAMETERS ================= -->
            <ng-container *ngSwitchCase="'Parameters'">

              <a class="text-link" [class.disable-custom]="!canreadCAPAScreen" [matTooltip]="
                  !canreadCAPAScreen
                    ? 'You don’t have permission to view'
                    : 'View Parameters'
                " [routerLink]="
                  canreadCAPAScreen
                    ? [
                        '/app',
                        'sqm',
                        'inspect-inner-screen',
                        'active-records'
                      ]
                    : null
                " [queryParams]="
                  canreadCAPAScreen
                    ? {
                        inspectionId: item.id,
                        reference: item.Reference,
                        partFamily: item.PartFamily,
                        partName: item.PartName
                      }
                    : null
                ">
                {{ item.Parameters }}
              </a>

            </ng-container>

            <!-- ================= REMARKS ================= -->
            <ng-container *ngSwitchCase="'Remarks'">

              {{ item.Remarks }}

            </ng-container>

            <!-- ================= BATCH NUMBER ================= -->
            <ng-container *ngSwitchCase="'Batch Number'">

              {{ item.BatchNumber }}

            </ng-container>

            <!-- ================= BATCH QTY ================= -->
            <ng-container *ngSwitchCase="'Batch Qty'">

              {{ item.BatchQuantity }}

            </ng-container>

            <!-- ================= SAMPLE QTY ================= -->
            <ng-container *ngSwitchCase="'Sample Qty'">

              {{ item.SampleQuantity }}

            </ng-container>

            <!-- ================= ERROR RATE % ================= -->
            <ng-container *ngSwitchCase="'Error Rate (%)'">

              {{ item.ErrorRatePct }}

            </ng-container>

            <!-- ================= ERROR RATE PPM ================= -->
            <ng-container *ngSwitchCase="'Error Rate (PPM)'">

              {{ item.ErrorRatePPM }}

            </ng-container>

          </ng-container>

        </td>

      </tr>

      <!-- ================= NO RECORDS ================= -->
      <tr *ngIf="!pagedMockdata || pagedMockdata.length === 0">
        <td [attr.colspan]="activeColumns.length" class="text-center">
          No records found
        </td>
      </tr>

    </tbody>
  </table>

  <!-- ===================== HORIZONTAL SCROLL BUTTONS ===================== -->



</div>

<div style="width: 100%;">
  <mat-paginator [length]="totalSize" [pageSize]="pageSize" [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 20, 25, 50, 100]" showFirstLastButtons (page)="onPageChange($event)">
  </mat-paginator>
</div>

<div style="
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    display: flex;
    gap: 15px;
  ">
  <button mat-fab color="white" (click)="scrollLeft()" matTooltip="Scroll Left">
    <mat-icon>fast_rewind</mat-icon>
  </button>
  <button mat-fab color="white" (click)="scrollRight()" matTooltip="Scroll Right">
    <mat-icon>fast_forward</mat-icon>
  </button>
</div>