<div class="page-container p-3">

  <div class="charts-row">
    <div class="chart-container">
      <highcharts-chart [Highcharts]="Highcharts" [options]="commodityChartOptions" [callbackFunction]="commodityCallback"></highcharts-chart>
    </div>
    <div class="chart-container">
      <highcharts-chart [Highcharts]="Highcharts" [options]="auditorChartOptions" [callbackFunction]="auditorCallback"></highcharts-chart>
    </div>
    <div class="chart-container">
      <highcharts-chart [Highcharts]="Highcharts" [options]="statusChartOptions" [callbackFunction]="statusCallback"></highcharts-chart>
    </div>
  </div>


  <div class="toolbar-row">
    <button mat-raised-button class="btn-dark" (click)="openGridView()">
      <mat-icon>grid_on</mat-icon> Grid View
    </button>
    <button mat-raised-button class="btn-dark" (click)="filterToggle = !filterToggle">
      <mat-icon>filter_list</mat-icon> Filter
    </button>
  </div>

  <div fxLayout="row wrap" *ngIf="filterToggle" style="margin-bottom: 15px;">
    <div fxFlex="100" class="flex-p w-100">
      <form [formGroup]="filterForm">
        <mat-card class="filter">
          <mat-card-content>
            <!-- ROW 1 -->
            <div class="row col-sm-12 mb-3">
              <div class="col-sm-4 row">
                <div class="col-sm-4 d-flex align-items-center"><b>Keyword:</b></div>
                <div class="col-sm-8">
                  <input type="text" formControlName="Keyword" class="form-control" placeholder="Search...">
                </div>
              </div>
              <div class="col-sm-4 row">
                <div class="col-sm-4 d-flex align-items-center"><b>Status:</b></div>
                <div class="col-sm-8">
                  <mat-select placeholder="Select Status" class="form-control" formControlName="Status">
                    <mat-option *ngFor="let option of statusLookups" [value]="option.lookupId">{{option.lookupName}}</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-sm-4 row">
                <div class="col-sm-4 d-flex align-items-center"><b>Commodity:</b></div>
                <div class="col-sm-8">
                  <mat-select placeholder="Select Commodity" class="form-control" formControlName="Commodity">
                    <mat-option *ngFor="let opt of uniqueCommodities" [value]="opt">{{opt}}</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>

            <!-- ROW 2 -->
            <div class="row col-sm-12 mb-3">
              <div class="col-sm-4 row">
                <div class="col-sm-4 d-flex align-items-center"><b>State:</b></div>
                <div class="col-sm-8">
                  <mat-select placeholder="Select State" class="form-control" formControlName="State">
                    <mat-option *ngFor="let opt of uniqueStates" [value]="opt">{{opt}}</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-sm-4 row">
                <div class="col-sm-4 d-flex align-items-center"><b>City:</b></div>
                <div class="col-sm-8">
                  <mat-select placeholder="Select City" class="form-control" formControlName="City">
                    <mat-option *ngFor="let opt of uniqueCities" [value]="opt">{{opt}}</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-sm-4 row">
                <div class="col-sm-4 d-flex align-items-center"><b>Supplier:</b></div>
                <div class="col-sm-8">
                  <mat-select placeholder="Select Supplier" class="form-control" formControlName="Supplier">
                    <mat-option *ngFor="let opt of uniqueSuppliers" [value]="opt">{{opt}}</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>

            <!-- ROW 3 (Buttons) -->
            <div class="row col-sm-12">
              <div class="col-sm-12 text-end">
                <button mat-raised-button class="btn-default me-2" (click)="clearFilter()">
                  <mat-icon>settings_backup_restore</mat-icon> Clear
                </button>
                <button mat-raised-button color="primary" (click)="filter()">
                  <mat-icon>search</mat-icon> Search
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
  
  <div class="table-responsive bg-white" id="grid-table-container" style="scroll-behavior: smooth;">
    <table class="custom-grid-table">
      <thead>
        <tr>
          <th>Audit Reference</th>
          <th>Commodity</th>
          <th>State</th>
          <th>City</th>
          <th>Supplier</th>
          <th>Auditor</th>
          <th>Audit Date</th>
          <th>CAPA</th>
          <th>Report</th>
          <th style="width: 150px;">Status</th>
          <th>Done</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagedAuditData">
          <td class="text-link">
            <!-- 🔥 Routes to your reference component safely -->
            <a [routerLink]="['/app','sqm','process-inner-screen','process-audit-reference']" [queryParams]="{ id: item.processAuditId, ref: item.auditReference }">
              {{ item.auditReference }}
            </a>
          </td>
          <td>{{ item.commodityName }}</td>
          <td>{{ item.stateName }}</td>
          <td>{{ item.cityName }}</td>
          <td>{{ item.supplierName }}</td>
          <td>{{ item.auditorName }}</td>
          <td>{{ item.auditDate | date:'dd-MM-yyyy' }}</td>
          
          <td class="text-center">
            <!-- Reuses the CAPA summary formatting -->
            <span [ngClass]="{'text-success': item.capaSummary && item.capaSummary !== '-', 'text-danger': item.capaSummary === '-'}">
              {{ item.capaSummary }}
            </span>
          </td>
          <td class="text-link text-center">{{ item.report || '-' }}</td>
          
          <td class="text-center font-weight-bold">
            <!-- 🔥 Rendered as Read-Only Text -->
            {{ getStatusName(item.statusId) }}
          </td>
          
          <td class="text-center">
            <!-- 🔥 Rendered as Interactive Checkbox -->
            <mat-checkbox [checked]="item.isDone" (click)="onDoneClick($event, item)" color="primary"></mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="mine mine-right" mat-fab (click)="scrollRight()">
      <mat-icon style="color: #37474f">fast_forward</mat-icon>
    </button>
    <button class="mine mine-left" mat-fab (click)="scrollLeft()">
      <mat-icon style="color: #37474f">fast_rewind</mat-icon>
    </button>

    <mat-paginator [length]="filteredAuditData.length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 25, 50]" (page)="onPageChange($event)" showFirstLastButtons>
    </mat-paginator>
  </div>

</div>