<div class="NewHeader">
    <h3 style="padding: 15px; margin: 0; font-weight: 400; font-size: 18px; color: white; background-color: #283593;">
        {{ isEditMode ? 'Update Commodity' : 'Add Commodity' }}
    </h3>
</div>

<div mat-dialog-content style="padding: 20px;">
    <form [formGroup]="form">
        <div class="row mb-3 align-items-center">
            <div class="col-sm-4 fw-bold text-end">
                Commodity Name: <span class="text-danger">*</span>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="name" placeholder="Enter Commodity Name">
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <div class="col-sm-4 fw-bold text-end">
                Commodity Code: <span class="text-danger">*</span>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="code" placeholder="Enter Commodity Code">
            </div>
        </div>
    </form>
</div>

<mat-dialog-actions align="end" style="padding: 15px;">
    <button mat-raised-button class="ms-2 add-dark-hover btn-default" (click)="close()" style="background-color: lightgray; color: red; margin-right: 5px;">
        <mat-icon>cancel</mat-icon> Close
    </button>
    <button mat-raised-button type="submit" class="save" color="primary" [disabled]="!form.valid" (click)="save()">
        <mat-icon>save</mat-icon> {{ isEditMode ? 'Update' : 'Save' }}
    </button>
</mat-dialog-actions>