<div class="NewHeader">
    <h2 style="padding-top:0px; padding-left: 20px; font-weight: 400;font-size: 18px;">
        {{ isEditMode ? 'Update Part Master' : 'Add Part Master' }}
    </h2>
</div>

<div>
    <div fxLayout="row wrap" class="col-sm-12">
        <div class="col-sm-12" style="margin-top: 0px; padding-left: 10px; padding-right: 20px;">
            <form [formGroup]="myGroup">

                <!-- Part Family -->

                <div class="row mb-3">

                    <div class="col-sm-4">
                        <label style="font-weight:bold;">
                            Part Family :
                        </label>
                    </div>

                    <div class="col-sm-8">

                        <mat-select class="form-control" placeholder="Select Part Family"
                            formControlName="PartFamilyId">

                            <mat-option *ngFor="let item of partsFamilies" [value]="item.partFamilyId">

                                {{ item.partFamilyName }}

                            </mat-option>

                        </mat-select>

                        <small class="text-danger"
                            *ngIf="f['PartFamilyId'].touched && f['PartFamilyId'].errors?.['required']">

                            Part Family is required.

                        </small>

                    </div>

                </div>

                <!-- Part Master Name -->

                <div class="row mb-3">

                    <div class="col-sm-4">
                        <label style="font-weight:bold;">
                            Parts :
                        </label>
                    </div>

                    <div class="col-sm-8">

                        <input class="form-control" type="text" placeholder="Enter Parts Name"
                            formControlName="PartMasterName">

                        <small class="text-danger"
                            *ngIf="f['PartMasterName'].touched && f['PartMasterName'].errors?.['required']">

                            Part Name is required.

                        </small>

                    </div>

                </div>

                <!-- Part Master Code -->

                <div class="row mb-3">

                    <div class="col-sm-4">
                        <label style="font-weight:bold;">
                            Parts Code :
                        </label>
                    </div>

                    <div class="col-sm-8">

                        <input class="form-control" type="text" maxlength="5" placeholder="Enter Parts Code"
                            formControlName="PartMasterCode">

                        <small class="text-danger"
                            *ngIf="f['PartMasterCode'].touched && f['PartMasterCode'].errors?.['required']">

                            Part Code is required.

                        </small>


                    </div>

                </div>

                <!-- Commodity -->

                <div class="row mb-3">

                    <div class="col-sm-4">
                        <label style="font-weight:bold;">
                            Commodity :
                        </label>
                    </div>

                    <div class="col-sm-8">

                        <mat-select class="form-control" placeholder="Select Commodity" formControlName="CommodityId">

                            <mat-option [value]="1">Casting</mat-option>
                            <mat-option [value]="2">Forging</mat-option>
                            <mat-option [value]="3">Machining</mat-option>

                        </mat-select>


                    </div>

                </div>

            </form>

            <mat-dialog-actions align="end">

                <button mat-raised-button type="button" (click)="close()" style="background:lightgray;color:red;">

                    <mat-icon>cancel</mat-icon>
                    Close

                </button>

                <button mat-raised-button color="primary" type="button" (click)="UpsertPartMaster()"
                    [disabled]="myGroup.invalid">

                    <mat-icon>save</mat-icon>

                    {{ myGroup.value.PartMasterId == 0 ? 'Save' : 'Update' }}

                </button>

            </mat-dialog-actions>

        </div>
    </div>
</div>