<div class="NewHeader">
    <h2 style="padding-top:0px; padding-left: 20px; font-weight: 400;font-size: 18px;">
        {{ isEditMode ? 'Update Parts Audit' : 'Add Parts Audit' }}
    </h2>
</div>

<div>
    <div fxLayout="row wrap" class="col-sm-12">
        <div class="col-sm-12" style="margin-top: 0px; padding-left: 10px; padding-right: 20px;">
            <form [formGroup]="myGroup">

                <!-- Commodity -->
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <label class="add-member-label mt-2 fw-bold">
                            Commodity :
                        </label>
                    </div>

                    <div class="col-sm-8">
                        <mat-select class="form-control" placeholder="Select Commodity" formControlName="commodityId">

                            <mat-option *ngFor="let item of originalTableData" [value]="item.commodityId">

                                {{ item.name }}

                            </mat-option>

                        </mat-select>
                    </div>
                </div>

                <!-- Part Family -->
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <label class="add-member-label mt-2 fw-bold">
                            Part Family :
                        </label>
                    </div>

                    <div class="col-sm-8">
                        <mat-select class="form-control" placeholder="Select Part Family"
                            formControlName="partFamilyId">

                            <mat-option *ngFor="let item of partsFamilies" [value]="item.partFamilyId">

                                {{ item.partFamilyName }}

                            </mat-option>

                        </mat-select>
                    </div>
                </div>

                <!-- Part -->
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <label class="add-member-label mt-2 fw-bold">
                            Part Name :
                        </label>
                    </div>

                    <div class="col-sm-8">
                        <mat-select class="form-control" placeholder="Select Part" formControlName="partMasterId">

                            <mat-option *ngFor="let item of parts" [value]="item.partMasterId">

                                {{ item.partMasterName }}

                            </mat-option>

                        </mat-select>
                    </div>
                </div>

                <!-- Supplier -->
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <label class="add-member-label mt-2 fw-bold">
                            Supplier :
                        </label>
                    </div>

                    <div class="col-sm-8">
                        <mat-select class="form-control" placeholder="Select Supplier" formControlName="supplierId">

                            <mat-option *ngFor="let item of Suppliers" [value]="item.supplierId">

                                {{ item.supplierName }}

                            </mat-option>

                        </mat-select>
                    </div>
                </div>

                <!-- State -->
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <label class="add-member-label mt-2 fw-bold">
                            State :
                        </label>
                    </div>

                    <div class="col-sm-8">
                        <mat-select class="form-control" placeholder="Select State" formControlName="stateId">

                            <mat-option *ngFor="let item of states" [value]="item.stateId">

                                {{ item.stateName }}

                            </mat-option>

                        </mat-select>
                    </div>
                </div>

                <!-- City -->
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <label class="add-member-label mt-2 fw-bold">
                            City :
                        </label>
                    </div>

                    <div class="col-sm-8">
                        <mat-select class="form-control" placeholder="Select City" formControlName="cityId">

                            <mat-option *ngFor="let item of cities" [value]="item.cityId">

                                {{ item.cityName }}

                            </mat-option>

                        </mat-select>
                    </div>
                </div>

                <!-- Auditor -->
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <label class="add-member-label mt-2 fw-bold">
                            Auditor :
                        </label>
                    </div>

                    <div class="col-sm-8">
                        <mat-select class="form-control" placeholder="Select Auditor" formControlName="auditorId">

                            <mat-option *ngFor="let item of Auditors" [value]="item.userId">

                                {{ item.userName }}

                            </mat-option>

                        </mat-select>
                    </div>
                </div>

                <!-- Audit Date -->
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <label class="add-member-label mt-2 fw-bold">
                            Audit Date :
                        </label>
                    </div>

                    <div class="col-sm-8">

                        <input matInput [matDatepicker]="picker" class="form-control" formControlName="auditDate"
                            placeholder="MM/DD/YYYY">

                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                    </div>
                </div>

                <!-- Remarks -->
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <label class="add-member-label mt-2 fw-bold">
                            Remarks :
                        </label>
                    </div>

                    <div class="col-sm-8">

                        <textarea rows="4" class="form-control" placeholder="Enter Remarks" formControlName="remakrs">
            </textarea>

                    </div>
                </div>

            </form>


            <mat-dialog-actions align="end"
                style="margin-top: 15px; display: flex; justify-content: flex-end;margin-right: -20px;">
                <button mat-raised-button class="ms-2 add-dark-hover btn-default" (click)="close()"
                    style="background-color: lightgray; color: red;margin-right: 5px;">
                    <mat-icon>cancel</mat-icon> Close
                </button>
                <button mat-raised-button type="button" class="save" color="primary" style="margin-right: 17px;"
                    (click)="UpsertPartAudit()">

                    <mat-icon>save</mat-icon>
                    {{ myGroup.get('partAuditId')?.value ? 'Update' : 'Save' }}

                </button>
            </mat-dialog-actions>



        </div>
    </div>
</div>